<%- include("partials/header") %>
<section class="header-pagina-interna">
    <div class="container">
        <h2>Controle de Pragas</h2>
    </div>
</section>
<section class="scroll-mt py-100" id="servicos">
    <div class="container d-lg-flex column-gap-3">
        <div class="w-lg-50">
            <div class="capa shadow" style="background-image: url('/assets/img/servico-controle-de-pragas.jpg');"></div>
        </div>
        <div class="w-lg-50 mt-md-2">
            <p class="fs-2 lh-3 text-dark">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Itaque perspiciatis quae dolor quaerat hic
                quo debitis excepturi error maiores.
                Provident itaque iste magni repellendus nesciunt at pariatur
                ullam aliquid quidem?
            </p>
            <div class="d-flex mt-3 align-items-center column-gap-2">
                <div class="icone">
                    <i class="fa-regular fa-clock fs-3 text-warning"></i>
                </div>
                <div class="lh-25">
                    Tempo de Execução
                    <br>
                    5 horas
                </div>
            </div>
            <div class="d-flex mt-3 align-items-center column-gap-2">
                <div class="icone">
                    <i class="fa-solid fa-calendar-days fs-3 text-warning"></i>
                </div>
                <div class="lh-25">
                    Validade
                    <br>
                    180 dias
                </div>
            </div>
            <div class="d-flex mt-3 align-items-center column-gap-2">
                <div class="icone">
                    <i class="fa-solid fa-dollar-sign fs-3 text-warning"></i>
                </div>
                <div class="lh-25">
                    Valor
                    <br>
                    700,00
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer") %>