* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
}

._debug {
    border: 1px solid red;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.column-gap-30 {
    column-gap: 30px;
}

.h2 {
    color: #202020;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 300;
}

.text-white {
    color: #fff;
}

img {
    max-width: 100%;
}

header {
    background-color: #f3f3f3;
}

header div {
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    column-gap: 30px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header a {
    text-decoration: none;
    color: #202020;
    padding: 35px 0;
    border-top: 5px solid #fff;
    display: inline-block;
}

header a:hover {
    border-top: 5px solid #e0450c;
}

header h1 {
    color: #619237;
}

.hero {
    background-image: url('./img/section1-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero h2 {
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.hero h2 span {
    text-transform: uppercase;
    display: block;
}

.hero h3 {
    color: #fff;
    font-size: 40px;
}

.hero form {
    width: 375px;
    background-color: #e0450c;
    padding: 50px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.hero input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: none;
    margin-top: 10px;
}

.hero button {
    display: block;
    width: 100%;
    margin-top: 20px;
    border: none;
    background-color: #202020;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.hero button:hover {
    background-color: #fff;
    color: #202020;
}

.hero h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
}

.hero p {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.servicos .d-flex>div {
    flex: 1;
}

.servicos {
    padding: 100px 0;
}

.servicos .capa {
    aspect-ratio: 10/6;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.servicos .capa:hover {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.servicos h3 {
    color: #e0450c;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
}

.servicos p {
    margin-top: 10px;
    line-height: 22.5px;
    margin-bottom: 10px;
}

.servicos a {
    color: #202020;
    text-decoration: none;
}

.servicos a>span:first-child {
    display: inline-block;
    padding: 2px 7.5px;
    background-color: #619237;
    color: #fff;
    margin-right: 5px;
}

.servicos a:hover>span:first-child {
    background-color: #e0450c;
    border-radius: 50%;
}

.servicos a>span:last-child {
    letter-spacing: 0.5px;
}

.sobre {
    background-color: #619237;
    padding: 100px 0px;
    color: #fff;
}

.sobre h2 {
    margin-bottom: 25px;
}

.sobre p {
    line-height: 22.5px;
}

.produtos {
    padding: 100px 0px;
}

.produtos .d-flex > div {
    width: 25%;
}

.produtos .imagem {
    aspect-ratio: 1/1;
    border: 1px solid rgba(0, 0, 0, 0.125);
    justify-content: center;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.produtos .imagem:hover {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.produtos .imagem img {
    height: 75%;
}

.produtos h3 {
    margin-top: 15px;
    text-transform: uppercase;
    color: #202020;
}