* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
}

._debug {
    border: 1px solid red;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-inline-block {
    display: inline-block;
}

.w-25 {
    width: 24%;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.column-gap-30 {
    column-gap: 30px;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

.h2 {
    color: #202020;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 300;
}

.btn1 {
    display: inline-block;
    padding: 2px 7.5px;
    background-color: #619237;
    color: #fff;
    text-decoration: none;
}

.btn1:hover {
    background-color: #e0450c;
    border-radius: 10px;
}

.text-white {
    color: #fff;
}

.text-green {
    color: #619237;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.card:hover {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.scroll-mt {
    scroll-margin-top: 94px;
}


img {
    max-width: 100%;
}

header {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.125);
    position: sticky;
    top: 0;
    z-index: 10;
}

header div {
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    column-gap: 30px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header a {
    text-decoration: none;
    color: #202020;
    padding: 35px 0;
    border-top: 5px solid #fff;
    display: inline-block;
}

header a:hover {
    border-top: 5px solid #e0450c;
}

header h1 {
    color: #619237;
}

.hero {
    background-image: url('./img/section1-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero h2 {
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.hero h2 span {
    text-transform: uppercase;
    display: block;
}

.hero h3 {
    color: #fff;
    font-size: 40px;
}

.hero form {
    width: 375px;
    background-color: #e0450c;
    padding: 50px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.hero input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: none;
    margin-top: 10px;
}

.hero button {
    display: block;
    width: 100%;
    margin-top: 20px;
    border: none;
    background-color: #202020;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.hero button:hover {
    background-color: #fff;
    color: #202020;
}

.hero h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
}

.hero p {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.servicos .d-flex>div {
    flex: 1;
}

.servicos {
    padding: 100px 0;
}

.capa {
    aspect-ratio: 10/6;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.capa:hover {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.servicos h3 {
    color: #e0450c;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
}

.servicos p {
    margin-top: 10px;
    line-height: 22.5px;
    margin-bottom: 10px;
}

.servicos a {
    color: #202020;
    text-decoration: none;
}

.servicos a>span:first-child {
    display: inline-block;
    padding: 2px 7.5px;
    background-color: #619237;
    color: #fff;
    margin-right: 5px;
}

.servicos a:hover>span:first-child {
    background-color: #e0450c;
    border-radius: 50%;
}

.servicos a>span:last-child {
    letter-spacing: 0.5px;
}

.sobre {
    background-color: #619237;
    padding: 100px 0px;
    color: #fff;
}

.sobre h2 {
    margin-bottom: 25px;
}

.sobre p {
    line-height: 22.5px;
}

.sobre .d-flex {
    margin-top: 40px;
}

.sobre .d-flex>div {
    width: 50%;
}

.sobre .d-flex div:first-child {
    padding-right: 50px;
}

.sobre .d-flex div .item {
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 20px 30px;
}

.sobre .d-flex div .item:not(:last-child) {
    margin-bottom: 15px;
}

.sobre h3 {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.produtos {
    padding: 100px 0px;
}

.produtos .d-flex>div {
    width: 25%;
}

.produtos .imagem {
    aspect-ratio: 1/1;
    justify-content: center;
}

.produtos .imagem img {
    height: 75%;
}

.produtos h3 {
    margin-top: 15px;
    text-transform: uppercase;
    color: #202020;
}

.produtos p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.contato {
    position: relative;
}

.contato iframe {
    width: 100%;
    height: 500px;
}

.contato .dados {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    background-color: #619237;
    line-height: 30px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 2;
}

.contato .dados:hover {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.numeros {
    background-color: #e0450c;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.numeros i {
    font-size: 50px;
    color: rgb(255, 255, 255, 0.5);
}

.numeros h3 {
    margin-top: 15px;
    font-size: 25px;
}

.numeros p {
    margin-top: 10px;
}

.numeros .container>div {
    position: relative;
}

.numeros .container>div:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 10%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.25);
}

.marcas-atendidas {
    padding-top: 100px;
    padding-bottom: 100px;
}

.marcas-atendidas .d-flex {
    flex-wrap: wrap;
}

.marcas-atendidas .logo {
    width: 25%;
    aspect-ratio: 2/1.25;
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    position: relative;
}

.marcas-atendidas .container .d-flex:first-child {
    border-bottom: 1px solid #ddd;
}

.marcas-atendidas .container .d-flex .logo:not(:last-child)::after {
    content: '';
    position: absolute;
    border-right: 1px solid #ddd;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.depoimentos {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #619237;
}

.depoimentos .d-flex>iframe {
    width: 33.33%;
    aspect-ratio: 3/2;
}

.galeria {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.025);
}

.galeria .imagem {
    aspect-ratio: 3/2;
    width: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog {
    padding-top: 100px;
    padding-bottom: 100px;
}

.blog h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #202020;
    font-size: 25px;
    font-weight: 400;
}

.blog p {
    line-height: 22.5px;
    margin-bottom: 15px;
}

.blog a {
    color: #e0450c;
    text-decoration: none;
}

.dados {
    background-color: #e0450c;
    padding-top: 100px;
    padding-bottom: 100px;
}

.dados .d-flex>div {
    width: 33.33%;
}

.dados i {
    color: rgb(255, 255, 255, 0.5);
    font-size: 40px;
    margin-bottom: 15px;
}

.dados span {
    display: block;
    color: #fff;
    line-height: 30px;
    font-size: 20px;
}

.call-to-action {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e0450c;
    color: #fff;
}

.call-to-action h2 {
    font-weight: 300;
    font-size: 30px;
}

.call-to-action a {
    display: inline-block;
    padding: 15px 90px;
    border: 3px solid rgba(255, 255, 255, 0.25);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 10px;
}

.call-to-action a:hover {
    background-color: #fff;
    color: #e0450c;
}